body {
    justify-content: center;
    align-items: center;
    text-align: center;
}
canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
.game-button {
    color: white;
    background: repeating-linear-gradient(45deg, #ff4f4c, #ff4f4c 5px, #ff4643 5px, #ff4643 10px);
    box-shadow: 0 6px 0 #ae2725, 0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #831614, 0 12px 0 5px #a33634,
        0 15px 0 5px #631716, 0 15px 1px 6px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid rgba(160, 25, 23, 0.5);
    text-shadow: 2px 2px 1px #d72d21, -2px 2px 1px #d72d21, 2px -2px 1px #d72d21, -2px -2px 1px #d72d21,
        0px 2px 1px #d72d21, 0px -2px 1px #d72d21, 0px 4px 1px #930704, 2px 4px 1px #930704,
        -2px 4px 1px #930704;
    margin-top: 10px;
    margin-bottom: 20px;
}
.game-button:hover {
    top: 2px;
    box-shadow: 0 4px 0 #ae2725, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #831614, 0 10px 0 5px #a33634,
        0 13px 0 5px #631716, 0 13px 1px 6px rgba(0, 0, 0, 0.3);
}

p {
    margin: 0;
    padding: 0;
}
